@{
    //Created By Chidhirala

    ViewData["Title"] = "Home Values";
}

@model RealEstateModel

<!DOCTYPE html>
<html>
<head>
    <!-- Created by Chidhirala-->
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8" />
</head>
<body>
    <h1>Lees's summit electronic store estimated cost </h1>
    <h2>Final Cost</h2>
    <p>Square Foot: @Model.Area.ToString("N4") SFt.</p>
    <p>Number of Ac's: @Model.BedRooms.</p>
    <p>Number of Vents: @Model.Baths.ToString("N1")</p>
    <p>Cost estimated: $ @Model.HomeValue.ToString("C")</p>

</body>
</html>
